# {{ ansible_managed }}
<VirtualHost *:{{ webserver_debian_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ inventory_hostname }}
   DocumentRoot /var/www/html
   ErrorLog /var/log/apache2/error.log
   CustomLog /var/log/apache2/access.log combined
</VirtualHost>
