.ansible
.aws
.bash_history
.cache
.ssh
.vagrant
.viminfo
*~
*/__pycache__/*
*.log
*.pem
*.pyc
*.swp
ansible
Ansible.md
desktop.ini
include_tasks-*.yml
roles/ajholanda.*
test.yml
tmp
venv
webservers-3.yml
