---
- name: Cria os usuários administradores
  ansible.builtin.user:
    name: "{{ item.name }}"
    password: "{{ item.passwd }}"
    shell: /bin/bash
    groups: "{{ 'wheel' if ansible_os_family == 'RedHat' else 'sudo' }}"
    append: true
  loop: "{{ user_admins }}"
  when: user_admin is defined
  tags: user

- name: Elimina a solicitação de senha pelo sudo
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ item }}"
    content: "{{ item }} ALL=(ALL) NOPASSWD:ALL"
    validate: 'visudo -cf %s'
    owner: root
    group: root
    mode: "0440"
  loop: "{{ user_admins }}"
  when: user_admin is defined
  tags: user
