---
- name: Copia o arquivo de serviço do desligamento (systemd)
  ansible.builtin.copy:
    dest: /etc/systemd/system/shutdown.service
    content: |
      [Unit]
      Description=Desligamento automático

      [Service]
      Type=oneshot
      ExecStart=/usr/sbin/shutdown -h now
    owner: root
    group: root
    mode: '0640'
  tags: power

- name: Copia o arquivo de temporização do desligamento (systemd)
  ansible.builtin.template:
    src: shutdown.timer.j2
    dest: /etc/systemd/system/shutdown.timer
    owner: root
    group: root
    mode: '0640'
  tags: power

- name: Configura logind-systemd para suspensão do sistema
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    regexp: "{{ lnx_item.re }}"
    line: "{{ lnx_item.ln }}"
  loop:
    - { re: '^IdleAction=', ln: 'IdleAction=suspend' }
    - { re: '^IdleActionSec=', ln: 'IdleActionSec={{ power_suspend_timeout }}' }
  loop_control:
    loop_var: lnx_item
  notify: Restart systemd-logind
  tags: power
