---
- name: Inclui tarefas para o sistema {{ ansible_system }}
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_system | lower }}.yml"
      skip: true
  when: inventory_hostname in groups['lab']
  tags: power
