---
- name: Cria uma Scheduled Task para desligar o computador
  ansible.windows.win_powershell:
    script: |
      $trigger = New-ScheduledTaskTrigger -Daily -At 10:30pm
      $action = New-ScheduledTaskAction -Execute 'shutdown.exe' -Argument '/s /t 0'
      Register-ScheduledTask -TaskName "Shutdown at 10:30 PM" -Trigger $trigger `
        -Action $action -User "NT AUTHORITY\SYSTEM" -RunLevel Highest
  tags: power
