# {{ ansible_managed }}
<VirtualHost *:{{ webserver_http_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ inventory_hostname }}
   DocumentRoot {{ webserver_document_root }}
   ErrorLog {{ webserver_logdir | mandatory }}/error.log
   CustomLog {{ webserver_logdir | mandatory }}/access.log combined
</VirtualHost>
