---
- name: Inclui tarefas para o gerenciador de pacotes
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_pkg_mgr }}.yml"
      skip: true
  when: ansible_pkg_mgr is defined
  tags: update

- name: Inclui tarefas para o sistema Windows
  ansible.builtin.include_tasks: windows.yml
  when: ansible_os_family | lower == "windows"
  tags:
    - win_updates
