---
- name: Instala o SSSD
  ansible.builtin.package:
    name: sssd

- name: Copia o arquivo de configuração
  ansible.builtin.template:
    src: sssd.conf.j2
    dest: /etc/sssd/sssd.conf
    owner: root
    group: root
    mode: "0600"

- name: Habilita e reinicializa o serviço
  ansible.builtin.service:
    name: sssd
    enabled: true
    state: restarted
