---
- name: Carrega tarefas para sistemas {{ ansible_system }}
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_system | lower }}.yml"
      skip: true
  tags: libreoffice, win_chocolatey
