---
# Precisamos do role package para adicionar o
# repositório de pacotes extras EPEL para
# as distribuições derivadas da Red Hat.
- name: Incluir o role package
  ansible.builtin.include_role:
    name: package
  tags: fail2ban

- name: Instala o Fail2ban
  ansible.builtin.package:
    name: fail2ban
  tags: fail2ban

- name: Habilita e inicia o serviço
  ansible.builtin.service:
    name: fail2ban
    enabled: true
    state: started
  tags: fail2ban

- name: Personaliza a configuração do jail sshd
  ansible.builtin.blockinfile:
    path: /etc/fail2ban/jail.local
    backup: true
    create: true
    owner: root
    group: root
    mode: "0644"
    block: |
      [sshd]
      enabled = true
      maxretry=6
      findtime = 350
      bantime = 600
    marker: "# {mark} ANSIBLE MANAGED BLOCK fail2ban.sshd"
  notify: Restart fail2ban
  tags: fail2ban
